.footer{
    display: inline-block;
    margin-top: 1rem;
    padding: 1rem;
    background-color: black;
    bottom: 0;
    left: 0;
    position: relative;
    width: 100%;
  }
  .footer p{
      position: absolute;
      color: cornsilk;
      top: 0%;
      left: 10%;
      transform: translate(-50%, -50%);
  }
  .footer p1{
    color: cornsilk;
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translate(-50%, -50%);
}